#login_background {
    background-color: rgba(0, 0, 0, 0.7); /* Add a semi-transparent overlay */
    background-image: url('D:\NextGen-Internship-P6-Week1-main\src\assets\images\img-login-default.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 15s;
    
    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function:ease-in;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  
  @keyframes animate {
    0% {
      background-image: url('D:\NextGen-Internship-P6-Week1-main\src\assets\images\cabin-room1.jpg');
    }
    15% {
      background-image: url('D:\NextGen-Internship-P6-Week1-main\src\assets\images\cabin2.jpg');
    }
    30% {
      background-image: url('D:\NextGen-Internship-P6-Week1-main\src\assets\images\cabin-room3.jpg');
    }
    45% {
      background-image: url('D:\NextGen-Internship-P6-Week1-main\src\assets\images\cabin.jpg');
    }
    60% {
      background-image: url('D:\NextGen-Internship-P6-Week1-main\src\assets\images\cabin-room2.jpg');
    }
    75%{
      background-image: url('D:\NextGen-Internship-P6-Week1-main\src\assets\images\img-login-default.jpg');
    }
    75%{
      background-image: url('D:\NextGen-Internship-P6-Week1-main\src\assets\images\img-login-default.jpg');
    }
    90%{
      
        background-image: url('D:\NextGen-Internship-P6-Week1-main\src\assets\images\img-login5.webp');
      
    }
  }

  
  
  .login__form {

    position: relative;
    padding: 50px;
    background-color:#1F4529;
    border-radius: 15px;
  }
  
  /* Rest of your .login__form styles remain the same */
.login__container{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.login__form .user{
    width: 80px;
    height: 100px;
    position: absolute;
    top: -9%;
    left: 40%;
    transform: translate(-50% -9%);
    z-index: 2;
}

.login__form .user img{
    margin-left: 21px;
    width: 100%;
}

.login__form h2{
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}

.login__form{
    align-items: center;
    width: 70%;
    height:400px;
    margin-left: 150px;
}

.login__form input{
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: var(--heading-color);
}

.login__form input:focus{
    outline:none;
}

.auth__btn{
    background: var(--heading-color) !important;
    width: 100%;
    color: #fff !important;
}
.auth__btn1{
  background: var(--heading-color) !important;
  width: 40%;
  margin-bottom: 30px;
  margin-left: 12px;
  color: #fff !important;
}
.auth__btn2{
  background: var(--heading-color) !important;
  width: 40%;
  margin-bottom: 30px;
  margin-left: 60px;
  color: #fff !important;
}

#login-p{
    font-size: .9rem;
    color: #fff;
    margin-top: 2rem;
    text-align: center;
}
#register-p{
  font-size: .9rem;
  color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}{
  font-size: .9rem;
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
}
.login__form p a{
    color:#E8ECD7;
    text-decoration: none;
    margin-left: 5px;
    font-weight: 700;
}